{% load django_bootstrap5 %}

<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="addQuoteModalHeader">Add Quote</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        TEST
    </div>
    <div class="modal-footer">
        <form hx-post="{{ request.path }}">
            {% csrf_token %}

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
    </div>
</div>